@import "../variable";

.Footer {
  background-color: $footer-color;
  color: white;
  padding: 70px 0 120px 0;

  .Footer__info {
    color: rgba(255, 255, 255, .3);
    address {
      display: inline-block;
      margin-right: 10px;
      font-style: normal;
    }
    a {
      color: rgba(255, 255, 255, .3);
      text-decoration: none;
    }
  }
}
