@import "../variable";
.Navigation {
  background-color: $theme-color;
  position: relative;
  z-index: 1;

  .Navigation__logo-container {
    padding: 30px 0 40px 0;
  }

  .Navigation__menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
    .Navigation__menu-container__menu {
      width: 150px;
      position: relative;
      font-size: 16px;
      line-height: 16px;

      a {
        padding: 10px 0;
      }

      &:not(:first-child)::before {
        content: '';
        display: block;
        float: left;
        width: 1px;
        height: 60%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-color: black;
      }

      &:hover .Navigation__submenu-container {
        display: block;
      }
    }

    .Navigation__submenu-container {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #222;

      .Navigation__submenu-container__submenu {
        display:block;
        a {
          width: 130px;
          padding: 10px 0;
          color: white;
        }
      }
    }

  }
}